:root{
        --primary-brand: #4D5AE5;
        --presse-state: #404BBF;
        --dark: #2E2F42;
        --success: #31D0AA;
        --text: #434455;
        --subtle-text: #8E8F99;
        --accent: #E7E9FC;
        --light: #F4F4FD;
        --modal-overlay: #2E2F42;
        --hero-background: #2E2F42;
        --white-background: #FFFFFF;
        --modal-background: #FCFCFC;

}
.body-class {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    background-color: var(--white-background);
}
body {
font-family: "Roboto", sans-serif;
color: var(--text);
background-color: var(--white-background);
}

.header{
    border-bottom: 1px solid #e7e9fc; 
}
.div{
    display: flex;
    align-items: center;
}
.container{
    width: 1158px;
    padding: 0 15px;
}
 nav{
    display: flex;
    align-items: center;
}
.menu-nav{
    display: flex;
    gap: 40px;

}
.link {
text-decoration: none;
}


.test-link {
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

 .test-link:focus {
    color: var(--presse-state);
 }

.test-link:hover { 
    color: var(--presse-state);
}
.list {
list-style: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand);
margin-right: 76px;
}

.address {
    font-style: normal;

}
span {
    color: var(--modal-overlay);
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--modal-overlay);
    padding: 24px 0;

   
}
.nav-link:hover {

color: var(--presse-state);
}
.nav-link:focus {

color: var(--presse-state);
}
.address-link{
    display: flex;
    gap: 40px;
}

/* Section 1 */

.section {
    background-color: var(--hero-background);
    padding: 188px 0;
}

.text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
    max-width: 496px;

}
.button{
    background-color: var(--primary-brand);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--white-background);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    
}
.button:hover {
background-color: var(--presse-state);
}
.button:focus{
background-color: var(--presse-state);
}

/* Section 2 */
 
.studio{
    padding: 120px 0;   
}
.list-two{
    display: flex;
    gap: 24px;
}
 
  
.element-two{
    flex-basis: calc((100% - 3 * 24px) / 4);
}
 .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
 }

 .paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
 }
/* Section 3 */

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.list-three{
    display: flex;
    gap: 24px;
}
.lelement-three{
    width: calc((100% - 48px) / 3);
}
/* Section 4 */

.contacts{
    background-color: var(--light);
}
.team {
    background-color: var(--white-background);
}
/* footer*/

.footer{
     background-color: var(--hero-background)
}
.span{
    color:var(--light)
}
.paragraph-contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text)
}


















.body-class {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.span-portfolio {
    color: #2e2f42;

}

.nav-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.address-portfolio {
    font-style: normal;
}

.button-button {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;

}

.button-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;

}

.button-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;

}

.body {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text-class {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}