:root{

}
.body-class {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
.body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

.link {
text-decoration: none;
}


.test-link {
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

 .test-link:focus {
    color: #404bbf;
   

 }

.test-link:hover { 
    color: #404bbf;

}
.list {
list-style: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.address {
    font-style: normal;

}
span {
    color: #2e2f42;
}
.nav-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

.nav-link:hover {

color: #404bbf;

}
.nav-link:focus {

color: #404bbf;

}


/* Section  */

.section {
    background-color: #2e2f42;

}

.text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}


.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    
}


.button:hover {
background-color: #404BBF;

}
.button:focus{
background-color: #404BBF;
}

/* Section 1 */
 
.studio{
    
}
 .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

 .paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
/* Section 3 */

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

/* Section 4 */

.contacts{
    background-color: #F4F4FD;

    
}
.team {
    background-color: #FFFFFF;
   

}
/* footer*/

.footer{

     background-color: #2e2f42;

}
.span{
    color:#f4f4fd;
  
}
.paragraph-contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


















.body-class {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.span-portfolio {
    color: #2e2f42;

}

.nav-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.address-portfolio {
    font-style: normal;
}

.button-button {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;

}

.button-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;

}

.button-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;

}

.body {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text-class {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}